
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					<nav>
						<h1>Welcome to MANDEEP's Handlebar module usage</h1>
						<h2>Handlebars have made it easy to develop!</h2>
						<h3>
							It is simple to develop and easy to deploy. 
							There are more than 100 resources to develop these codes.
						</h3>
							<h4>To see the improvement in my web pages please go through the links</h4>
							<nav class="navbar navbar-expand-lg navbar-light bg-light">
								
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav mr-auto">
										{{!-- <li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
										<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
										<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
										<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li> --}}
										{{#navLink "/about"}}About{{/navLink}}
										{{#navLink "/htmlDemo"}}Html Demo{{/navLink}}
										{{#navLink "/students/add"}}Add Student{{/navLink}}
										{{#navLink "/home"}}Home{{/navLink}}
									</ul>
									<ul class="navbar-nav ml-auto">
										{{#navLink "/Students"}}Students{{/navLink}}
										{{#navLink "/Courses"}}Courses{{/navLink}}
										{{!-- <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
										<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
										<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li> --}}
									</ul>
								</div>
							</nav>	

						</h5>
					</nav>
					
					
					<!-- End your code here  -->



				</main>
			</div>